In [1]:
# import pandas as pd
# import numpy as np

In [2]:
import csv

with open('./splice.data') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    df_li = []
    for row in csv_reader:
        df_li.append(row)
    df = pd.DataFrame(df_li, columns=["target", "instance_name", "sequence"])
df.head()

,target,instance_name,sequence
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGG...
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGG...
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGG...
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGT...
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTG...

In [3]:
df.shape

(3190, 3)

In [4]:
df.target.value_counts()

N     1655
IE     768
EI     767
Name: target, dtype: int64

In [5]:
for col in df.columns:
    df[col] = df[col].apply(lambda a : a.strip())

In [6]:
len(df["sequence"].unique())

3005

In [7]:
tmp = df.sequence.value_counts().keys()[0]
tmp

'GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCAGCCCCCGGACTGGG'

In [8]:
df[df.sequence == tmp]

,target,instance_name,sequence
1096,IE,HUMGH-ACCEPTOR-1572,GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCA...
1100,IE,HUMGHCSA-ACCEPTOR-6465,GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCA...
1112,IE,HUMGHCSA-ACCEPTOR-43393,GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCA...
1120,IE,HUMGHN-ACCEPTOR-1797,GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCA...
1121,IE,HUMGHVA-ACCEPTOR-741,GGCCTCTCCTTCTCTTCCTTCACTTTGCAGAGGCTGGAAGATGGCA...

In [9]:
len(df["instance_name"].unique())

3178

In [10]:
df["seq_len"] = df.sequence.apply(lambda seq: len(seq))
# for i in list(range(3)):
#     df["name_part_" + str(i)] = df.instance_name.apply(lambda name: name.split("-")[i])

In [11]:
df.head()

,target,instance_name,sequence,seq_len
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGGTCTGTTCCAAGGGCC...,60
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGGTGAGCCCCACCGCCC...,60
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGGTGAGAAGCGCAGTCG...,60
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGTATGGGGCGGGGCTT...,60
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTGAGTGTCCCCATCC...,60

In [12]:
df.sequence.apply(lambda seq: list(set(seq)))[0]

['A', 'T', 'G', 'C']

In [13]:
df["seq_unique_latters"] = df.sequence.apply(lambda seq: "".join(sorted(list(set(seq)))))

In [14]:
df.tail()

,target,instance_name,sequence,seq_len,seq_unique_latters
3185,N,ORAHBPSBD-NEG-2881,TCTCTTCCCTTCCCCTCTCTCTTTCTTTCTTTTCTCTCCTCTTCTC...,60,CT
3186,N,ORAINVOL-NEG-2161,GAGCTCCCAGAGCAGCAAGAGGGCCAGCTGAAGCACCTGGAGAAGC...,60,ACGT
3187,N,ORARGIT-NEG-241,TCTCGGGGGCGGCCGGCGCGGCGGGGAGCGGTCCCCGGCCGCGGCC...,60,ACGT
3188,N,TARHBB-NEG-541,ATTCTACTTAGTAAACATAATTTCTTGTGCTAGATAACCAAATTAA...,60,ACGT
3189,N,TARHBD-NEG-1981,AGGCTGCCTATCAGAAGGTGGTGGCTGGTGTGGCTGCTGCTCTGGC...,60,ACGT

In [15]:
df.dtypes

target                object
instance_name         object
sequence              object
seq_len                int64
seq_unique_latters    object
dtype: object

In [16]:
df.seq_unique_latters.unique()

array(['ACGT', 'ACGNT', 'ACDGT', 'ACGRT', 'ACGST', 'AG', 'CGT', 'CT'],
      dtype=object)

In [17]:
df.seq_unique_latters.value_counts()

ACGT     3169
ACGNT      11
CGT         3
ACDGT       2
AG          2
ACGST       1
CT          1
ACGRT       1
Name: seq_unique_latters, dtype: int64

In [18]:
df.pivot_table("seq_len", "target", "seq_unique_latters", aggfunc=np.sum, fill_value=0)/60

seq_unique_latters  ACDGT  ACGNT  ACGRT  ACGST  ACGT  AG  CGT  CT
target
EI                      0      5      0      0   762   0    0   0
IE                      1      0      1      1   765   0    0   0
N                       1      6      0      0  1642   2    3   1

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
vect = CountVectorizer(analyzer="char").fit(df.sequence.values)
vect.vocabulary_

{'c': 1, 'a': 0, 'g': 3, 't': 7, 'n': 4, 'd': 2, 'r': 5, 's': 6}

In [24]:
vect.`

{'c': 1, 'a': 0, 'g': 3, 't': 7, 'n': 4, 'd': 2, 'r': 5, 's': 6}